---
import Layout from '../layouts/Layout.astro';
import TriviaApp from '../components/TriviaApp.astro';
---

<Layout title="BibleQuestions | Trivia Inteligente">
	<main class="min-h-screen flex flex-col items-center justify-center p-4">
		<TriviaApp />
	</main>
</Layout>